name: Node CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    - name: Use Node.js 10.x
      uses: actions/setup-node@v1
      with:
        version: 10.x
    - name: install yarn  
      run: npm install -g yarn
    - name: yarn install, build, and test
      run: |
        yarn install  --frozen-lockfile
        yarn build
        yarn test
